<!-- Header
============================================= -->
<header id="header" class="sticky-style-2" style="height: 65px;">
  <div id="header-wrap">
    <!-- Primary Navigation
    ============================================= -->
    <nav id="primary-menu" class="style-2">
      <div class="container clearfix">
        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <ul>
          <% if (typeof room_id != 'undefined' && typeof room_id != 'null') { %>
            <li><a href="/lobby"><div>Back to Lobby</div></a></li>
          <% } else { %>
            <li><a data-toggle="modal" data-target="#create-room" id="croom" href="#create-room"><div>Create Room</div></a></li>
          <% } %>
        </ul>

        <!-- Logout
        ============================================= -->
        <ul class="pull-right">
          <li class="current"><a href="/logout"><div>Logout</div></a></li>
        </ul><!-- #logout end -->
      </div>
    </nav><!-- #primary-menu end -->
  </div>
</header><!-- #header end -->