<section>
  <div class="row" style="width: 192px; height: 192px;">
    <% for (var i = 0; i < 9; i++) { %>
      <div class="col-md-4" style="height: 64px;">
        <% if (i == 0) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-double-angle-left i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 1) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-arrow-up i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 2) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-double-angle-right i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 3) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-arrow-left i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 5) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-arrow-right i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 7) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-arrow-down i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 8) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#"><i class="icon-minus-sign i-alt"></i></a>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
</section>