<section>
  <div class="row sub-ctrl-panel" style="width: 192px; height: 192px;">
    <div class="input-group" style="margin-left: 15px; width: 192px; margin-right: 0px;">
      <input class="form-control" type="text" id="pdf-name" placeholder="PDF Name" disabled />
      <span class="input-group-btn">
        <button class="btn btn-default" id="pdf-upload" type="button">Go!</button>
      </span>
    </div>
    <form id="pdf-upload-form" enctype="multipart/form-data" style="display:none">
      <input type="file" id="pdf-file" name="pdf_file" accept="application/pdf" />
    </form> 
    <% for (var i = 0; i < 9; i++) { %>
      <div class="col-xs-4" style="height: 64px;">
        <% if (i == 0) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigatePrev"><i class="icon-double-angle-left i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 1) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigateUp"><i class="icon-arrow-up i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 2) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigateNext"><i class="icon-double-angle-right i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 3) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigateLeft"><i class="icon-arrow-left i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 5) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigateRight"><i class="icon-arrow-right i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 6) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="upload" id="upload-file"><i class="icon-upload i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 7) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="navigate" id="navigateDown"><i class="icon-arrow-down i-alt"></i></a>
            </div>
          </div>
        <% } else if (i == 8) { %>
          <div class="feature-box fbox-rounded fbox-effect">
            <div class="fbox-icon">
              <a href="#" class="toggle-panel"><i class="icon-minus-sign i-alt"></i></a>
            </div>
          </div>
        <% } %>
      </div>
    <% } %>
  </div>
  <div class="feature-box fbox-rounded fbox-effect sub-ctrl-panel" style="display: none; margin-top: -128px; margin-left: 64px;">
    <div class="fbox-icon">
      <a href="#" class="toggle-panel"><i class="icon-plus-sign i-alt"></i></a>
    </div>
  </div>
</section>